[Unit]
Description=Navigator ROS2 Node
After=network.target

[Service]
Type=simple
User=kaffi
Group=kaffi
EnvironmentFile=/opt/ros/jazzy/setup.bash
EnvironmentFile=/home/kaffi/rpi_ws/install/setup.bash
; ExecStart=/opt/ros/jazzy/bin/ros2 run power_to_pwm power_to_pwm
; ExecStart=/bin/bash -c '. /home/kaffi/.profile && . /opt/ros/jazzy/setup.bash && . /home/kaffi/rpi_ws/install/setup.bash && /opt/ros/jazzy/bin/ros2 run power_to_pwm power_to_pwm'
; ExecStart=/bin/bash -c '. /home/kaffi/.bashrc && . /home/kaffi/rpi_ws/install/setup.bash && ROS_DOMAIN_ID=42 env'
ExecStart=/bin/bash -c '. /home/kaffi/.bashrc && . /home/kaffi/rpi_ws/install/setup.bash && ROS_DOMAIN_ID=42 /opt/ros/jazzy/bin/ros2 run power_to_pwm power_to_pwm'
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target

